.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.dropdown-item.active, .dropdown-item:active {
    background-color: #fa0;
}

#categorySelect.option:hover {
    background-color: #fa0;
}

.chart-container {
    position: relative;
    width: 35vw;
    margin: auto; /* Центрирует диаграмму на странице */
}

.nav-link {
    font-size: 25px;
}
